#ferramentas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 10px;
    box-sizing: border-box;
    margin: 40px;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}
.ferramenta img{
    width: 100%;
}
.ferramenta {
    background-color: var(--corSecundaria);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    min-height: 400px;
    max-width: max-content;
    text-align: justify;
    scroll-margin: 150px;
}
.ferramenta button {
    background-color: var(--corPrincipal);
    border: none;
    border-radius: 4px;
    min-height: 50px;
    font-family: inherit;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1.5em;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: 100%;
}
.ferramenta button::after {
    content: "";
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image:url("../img/icons/arrow-branco-icone.png") ;    
    position: relative;
    display: inline-block;
    top: 0.5px;
}
.ferramenta button:hover::after {
    background-image: url("../img/icons/arrow-azul-icone.png");
}
.ferramenta button:hover {
    background-color: var(--corTexto);
    color: var(--corPrincipal);
}
.ferramenta h2 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}
.ferramenta a {
    width: 100%;
}
.ferramenta a:hover {
    color: inherit;
}
.ferramenta summary, .ferramenta details {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.ferramenta summary {
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    opacity: 50%;
    width: fit-content;
}
.ferramenta summary:hover {
    opacity: 100%;
}
.ferramenta img {
    margin-top: 20px;
}
.paragrafo-tipo-ferramenta {
    opacity: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.tipo-ferramenta {
    font-weight: bold;
    display: flex;
    align-items: center;
}
.site::after, .vscode::after, .navegador::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    background-size: cover;
    left: 5px;
    bottom: 2px;
}
.site::after {
    background-image: url("../img/icons/browser-icone.png");
}
.vscode::after {
    background-image: url("../img/icons/extensao-codigo-icone.png");
}
.navegador::after {
    background-image: url("../img/icons/extensao-browser-icone.png");
}