@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}
:root {
    --corPrincipal: #174d8a;
    --corPrincipalBrilho: #4580c4;
    --corTexto: #e0e0e0;
    --corSecundaria: #0e0e0ee7;
}
* {
    transition: 70ms;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    color: #e0e0e0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: var(--corPrincipal);
    position: relative;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
a:hover, summary:hover {
    color: var(--corPrincipal);
}
ul {
    list-style: none;
}
img {
    border-radius: 4px;
}
